body {
    background: linear-gradient(333deg, rgba(0,0,0,1) 0%, rgba(32,32,32,1) 95%);
    background-size: auto 1500px;
}

.navbar .btn {
    background: linear-gradient(333deg, rgba(44,0,54,1) 0%, rgba(57,0,103,1) 95%);
    color: rgba(203, 203, 203, 0.9);
    border: none;
}

.footer a {
    color: rgba(146, 12, 255, 0.9);
}

.text {
    background: linear-gradient(333deg, rgba(81,0,255,1) 0%, rgba(142,0,213,1) 95%);
    backdrop-filter: blur(10px);
    font-family: system-ui;
    font-size: 4rem;
    line-height: 115%;
    border-bottom: 2px solid rgba(146, 12, 255, 0.9);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.card-style, .card-style1 {
    background-color: rgba(4, 0, 11, 0.5);
    backdrop-filter: blur(10px);
}

.card-title {
    color: rgba(146, 12, 255, 0.9);
}

.card-text {
    color: rgba(150, 150, 150, 0.9);
}

.btn {
    color: rgba(146, 12, 255, 0.9);
    border: 1px solid rgba(146, 12, 255, 0.9);
}

.heart {
    background-color: rgba(146, 12, 255, 0.9);
    border-radius: 100%;
}

.heart1 {
    color: rgba(146, 12, 255, 0.9);
}

.card-style-border {
    border-top: 5px solid rgba(146, 12, 255, 0.9);
}

.text-style1 {
    color: rgba(146, 12, 255, 0.9);
}

::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
    background-color: rgb(24, 24, 24);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(146, 12, 255, 0.9);
}
